:root {
    --videoMargin: 2.5%;
    --videoWidth: 95%;
    --playButtonBackground: rgba(255, 255, 255, 0.2);
    --playButtonBackdropFilter: blur(10px);
}

#videoOverlay {
    border-radius: 20px;
    max-width: var(--videoWidth);
    margin-left: var(--videoMargin);
    margin-right: var(--videoMargin);
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    display: block;
    margin: 0 auto;
}

#playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s ease;
    pointer-events: none;
    width: 25%; /* Increased size */
    height: auto; /* Maintain aspect ratio */
    backdrop-filter: var(--playButtonBackdropFilter); /* Glassmorphism effect */
    background-color: var(--playButtonBackground); /* Semi-transparent background */
}

.video-container {
    position: relative;
    display: inline-block;
}